body {
    margin: 0;
    background: url(../../assets/img/star-sky1.jpg) no-repeat center center fixed;
    background-size: cover;
}


}
h1.text-center {
    color: #fff;
}
h1 {
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}
button.btn.btn-success.btn-block.btn-lg {
    margin-top: 25px;
}
div.col-md-12 {
    margin: 5px;
}
div>.question-container {
    margin: 50px auto;
}
a {
    color: #fff;
    text-decoration: none;
}
a {
    margin: 15px auto;
}
a,
a:active,
a:hover,
a:visited,
a:focus {
    outline: 0;
    text-decoration: none;
}
a:hover,
a:focus {
    background: #4CD964;
}